<div class="container">
    <div class="row lights">
      <div class="col-md-12">
        <h1 class="main-header">Jeremy and Laura Adopt!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 paragraph">
        <p>Tis the season to celebrate  the holidays and anticipate the growth of our family! We would love to include you, our family and friends, in that anticipation and preparation. Getting prepared comes at a cost - legal fees, agency fees and baby mama health care fees.
          In a season defined by love and generosity, the best best gift you can give us is to help us bring home the child God has chosen for us. </p>
        <p>It is uncomfortable to ask for money so we love this envelope system because it takes an awkward thing and makes it  simple and fun! Pick an envelope with the amount you want to give and just click. </p>
        <p>Much love, </p>
        <p>Jeremy &amp; Laura</p>
        <br /><br /><p class="privacy">Because we value your privacy, all donations are <a href="http://stripe.com"><img src="img/solid@2x.png" width="119" height="26" border="0" /></a></p>
      </div>
    </div>
  </div>

  <!-- <div class="bigbox"> -->
    <%= erb :_donation_grid %>
  <!-- </div> -->


  <div class="container">
    <!-- <div class="row footer">
      <div class="col-md-6">
        <p>To learn more about our adoption story or agency, you can visit our website at <a href="https://www.youcaring.com/jeremy-and-laura-450484">youcaring.com</a> or on <a href="https://www.facebook.com/JeremyAndLauraAdopt/?fref=ts">facebook</a>.</p>
        <p>All donations are processed securely by <a href="http://stripe.com">Stripe</a>.</p>
      </div>
    </div> -->
  </div>
